.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/gradle.xml
.idea/jsp-cafe.iml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dataSources/2b17d268-4e92-408b-95e0-2cb26eccc63f.xml
.idea/shelf/Changes.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/2b17d268-4e92-408b-95e0-2cb26eccc63f/storage_v2/_src_/schema/jsp_cafe.lSoxiw.meta
.idea/shelf/Changes/shelved.patch
.idea/uiDesigner.xml
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
