.error-message {
  font-size: 2em;
  font-family: BM-Hanna-11yrs, serif;
  margin-top: 40px;
  text-align: center;
}

#container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #62CBC6;
}