#posts-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  padding: 20px 10vw;
  max-width: 1300px;
}

#posts-information {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  color: #879298;
  font-size: 0.9em;
  margin-bottom: 10px;
  padding: 0 10px;
}

#write-button {
  font-family: BM-Hanna-11yrs, serif;
  font-size: 1em;

  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: #62CBC6;

  transition: background-color 0.3s;
}

#write-button:hover {
  background-color: #51A9A5;
}

#posts-header {
  font-size: 0.9em;
  color: #879298;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;

  border-top: #D2DAE0 1px solid;
  border-bottom: #D2DAE0 1px solid;
}

#left-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 3;
}

#right-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 2;
}

.post {
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;

  border-bottom: #D2DAE0 1px solid;

  cursor: pointer;
  transition: background-color 0.3s;
}

.post:hover {
  background-color: #F5F7F9;
}

.left-post {
  font-size: 1.1em;
  font-weight: 600;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 3;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.right-post {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 2;
}

.post-element {
  display: flex;
  flex: 1;
  justify-content: center;
}

#info-card {
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  border-radius: 12px;
  background-color: #62CBC6;
  margin-bottom: 60px;

  color: white;
}

#info-card-explain {
  font-size: 2em;
  font-family: BM-Hanna-11yrs, serif;
  margin-top: 8px;
}
