@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
  font-family: 'BM-Hanna-11yrs';
  src: url('../fonts/BMHANNA_11yrs.otf') format('opentype');
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a {
  text-decoration: none;
  color: black;

  cursor: pointer;
}

input {
  border: none;
  outline: none;
  box-shadow: none;

  margin-bottom: 8px;
  margin-left: 16px;
  margin-right: 16px;

  font-size: 1em;
}

input::placeholder {
  color: #879298;
  font-family: Pretendard, serif;
}

textarea {
  border: none;
  outline: none;
  box-shadow: none;

  margin-bottom: 8px;
  margin-left: 16px;
  margin-right: 16px;

  font-size: 1em;
  resize: vertical;
  max-height: 700px;
  min-height: 300px;

  font-family: Pretendard, serif;
}

textarea::placeholder {
  color: #879298;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #62CBC6;
  padding: 20px 10vw;

  margin-bottom: 40px;
}

#greeting {
  font-family: BM-Hanna-11yrs, serif;
  font-size: 2em;

  color: white;
}
