body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

main {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    background-color: #62CBC6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.info-box {
    background-color: #62CBC6;
    color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 25px;
}