#user-form {
  width: 500px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  font-size: 2em;
  font-family: BM-Hanna-11yrs, serif;
  margin-bottom: 60px;
}

.form-element {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  border: #D2DAE0 1px solid;
  border-radius: 8px;
}

.form-label {
  font-size: 0.9em;
  color: #4B5966;

  margin: 8px 16px;
}

input {
  border: none;
  outline: none;
  box-shadow: none;

  margin-bottom: 8px;
  margin-left: 16px;
  margin-right: 16px;
}

input::placeholder {
  color: #879298;
  font-size: 1.1em;
}

#login-submit {
  font-size: 1.2em;
  color: white;
  font-weight: 700;

  width: 320px;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  background-color: #62CBC6;
  margin-top: 40px;

  cursor: pointer;
  transition: background-color 0.3s;

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

#register-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

#register-link {
  font-size: 0.8em;
  color: #62CBC6;
}

#register-message {
  color: #14212B;
  font-size: 0.8em;
}
