
h2 {
    text-align: center;
    margin-bottom: 30px;
}



.btn-register {
    width: 100%;
    padding: 10px;
    background-color: #62CBC6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
