<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
  version="6.0">
  <!-- 기본 서블릿에 대한 URL 매핑 설정 -->
  <!-- 기본 서블릿 설정 -->
  <mime-mapping>
    <extension>css</extension>
    <mime-type>text/css</mime-type>
  </mime-mapping>

  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
    <jsp-property-group>
      <url-pattern>*.jspf</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>

  <filter>
    <filter-name>Authfilter</filter-name>
    <filter-class>org.example.filter.AuthFilter</filter-class>
  </filter>
  <filter>
    <filter-name>StaticResourceFilter</filter-name>
    <filter-class>org.example.filter.StaticResourceFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>Authfilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>StaticResourceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>

