name: Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Build with Gradle
        run: ./gradlew build

      - name: Deploy to EC2
        env:
          PRIVATE_KEY: ${{ secrets.EC2_PRIVATE_KEY }}
          HOST: ${{ secrets.EC2_HOST }}
          USER: ${{ secrets.EC2_USER }}
        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 600 private_key
          scp -i private_key -o StrictHostKeyChecking=no ./build/libs/*.war ${USER}@${HOST}:/home/${USER}/app.war
          ssh -i private_key -o StrictHostKeyChecking=no ${USER}@${HOST} '
            sudo mv /home/${USER}/app.war /opt/tomcat/webapps/ROOT.war &&
            sudo chown tomcat:tomcat /opt/tomcat/webapps/ROOT.war &&
            sudo systemctl restart tomcat
          '
